@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-container {
  width: 100%;
  max-width: 679px;
  min-width: 300px;
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
  position: relative;
  color: black;
}

#__next {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #5a5a5a;
}

.next-error-h1 {
  border-right: 1px solid black;
}
