.bottomNav {
    width: 100%;
    max-width: 679px;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 3;
    background-color: #21BF73;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bnTab {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}